XyzWeb/Service References/Legado/Legado.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Legado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9012/Legado.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9012/Legado.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9012/Legado.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILegado_BuscarComponentes_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarComponentes" />
  </wsdl:message>
  <wsdl:message name="ILegado_BuscarComponentes_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarComponentesResponse" />
  </wsdl:message>
  <wsdl:message name="ILegado_NomeUniversidade_InputMessage">
    <wsdl:part name="parameters" element="tns:NomeUniversidade" />
  </wsdl:message>
  <wsdl:message name="ILegado_NomeUniversidade_OutputMessage">
    <wsdl:part name="parameters" element="tns:NomeUniversidadeResponse" />
  </wsdl:message>
  <wsdl:portType name="ILegado">
    <wsdl:operation name="BuscarComponentes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegado/BuscarComponentes" message="tns:ILegado_BuscarComponentes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegado/BuscarComponentesResponse" message="tns:ILegado_BuscarComponentes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NomeUniversidade">
      <wsdl:input wsaw:Action="http://tempuri.org/ILegado/NomeUniversidade" message="tns:ILegado_NomeUniversidade_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILegado/NomeUniversidadeResponse" message="tns:ILegado_NomeUniversidade_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILegado" type="tns:ILegado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="BuscarComponentes">
      <soap:operation soapAction="http://tempuri.org/ILegado/BuscarComponentes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NomeUniversidade">
      <soap:operation soapAction="http://tempuri.org/ILegado/NomeUniversidade" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Legado">
    <wsdl:port name="BasicHttpBinding_ILegado" binding="tns:BasicHttpBinding_ILegado">
      <soap:address location="http://localhost:9012/Legado.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>